<h3>Login</h3>

<div>
  <div>
    <%= form_with scope: :session, url:login_path, local: true do |form| %>
      <tr>
        <th><%= form.label :name, "名前" %></th>
        <td><%= form.text_field :name %><td>
      </tr>
      <tr>
        <th><%= form.label :password, "パスワード" %></th>
        <td><%= form.password_field :password %></td>
      </tr>
      <%= form.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
