<table class="attr">
  <tr>
    <th><%= form.label :title, "タイトル" %></th>
    <td><%= form.text_field :title %></td>
  </tr>
  <tr>
    <th><%= form.label :content, "コンテンツ" %></th>
    <td><%= form.text_area :content %></td>
  </tr>
  <tr>
    <th><%= form.label :time, "配信日" %></th>
    <td><%= form.text_field :time %></td>
  </tr>
</table>
