<div id="blog">

<h1>BLOG</h1>

<% if @blogs.present? %>
<table>
  <tr>
    <th>タイトル</th>
    <th>コンテンツ</th>
    <th>配信日</th>
  </tr>
  <% @blogs.each do |blog| %>
  <tr>
    <td><%= link_to blog.title, blog %></td>
    <td><%= blog.content %></td>
    <td><%= blog.time %></td>
    <td>
      <%= link_to "編集", [:edit, blog] %> | 
      <%= link_to "削除", blog, method: :delete,
            data: { confirm: "本当に削除しますか？" } %>
    </td>
  </tr>
  <% end %>
</table>
<% else %>
<p>配信情報がありません。</p>
<% end %>

</div>
