<h1 id="news">投稿一覧</h1>
<h3><%= link_to "新規投稿", :new_blog %></h3>
<div id="blog">
<% if @blogs.present? %>
<table class="list">
  <% @blogs.each do |blog| %>
  <tr>
    <td width="80px"><%= link_to blog.title, blog %></td>
    <td width="380px"><%= blog.content %></td>
    <td width="60px"><%= blog.time %></td>
    <td width="100px">
      <%= link_to "編集", [:edit, blog] %> | 
      <%= link_to "削除", blog, method: :delete,
            data: { confirm: "本当に削除しますか？" } %>
    </td>
  </tr>
  <% end %>
</table>
<% else %>
<p>配信情報がありません。</p>
<% end %>

</div>
