<h1 id="news">投稿の詳細</h1>

<h3>
  <%= link_to "TOP", :root %>
  <% if chief %>
    |<%= link_to "投稿一覧", :blogs %>
  <% end %>
</h3>

<table class="blog_form">
  <tr>
    <th>タイトル</th>
    <td><%= @blog.title %></td>
  </tr>
  <tr>
    <th>コンテンツ</th>
    <td><%= @blog.content %></td>
  </tr>
  <tr>
    <th>配信日</th>
    <td><%= @blog.time %></td>
  </tr>
</table>
