<h1>FOODメニュー一覧</h1>

<h3 id="menu"><%= link_to "メニューの追加", :new_food %></h3>

<% if @foods.present? %>
<table class="list">
  <% @foods.each do |food| %>
  <tr>
    <td><%= link_to food.name, food %></td>
    <td>¥<%= food.price %></td>
    <td>
      <%= link_to "編集", [:edit, food] %> |
      <%= link_to "削除", food, method: :delete,
            data: { confirm: "本当に削除しますか？" } %>
    </td>
  </tr>
  <% end %>
</table>
<% else %>
<p>メニュー情報がありません。</p>
<% end %>
