<h1>売上データ詳細</h1>
  
<p><%= link_to "SALES", :sales %></p>

<table>
  <tr>
    <th>売上番号</th>
    <td><%= @sale.id %></td>
  </tr>
  <tr>
    <th>伝票番号</th>
    <td><%= @sale.sale_id %></td>
  </tr>
  <tr>
    <th>日付</th>
    <td><%= @sale.date %></td>
  </tr>
  <tr>
    <th>人数</th>
    <td><%= @sale.visitor %></td>
  </tr>
  <tr>
    <th>商品番号</th>
    <td><%= @sale.menu_id %></td>
  </tr>
  <tr>
    <th>個数</th>
    <td><%= @sale.number %></td>
  </tr>
</table>
